body {
    font-size: 18px;
    font-family: serif;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    background-color:darkblue;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

footer {
    position: auto;
    width: 100%;

    text-align: center;
    background-color: darkblue;
    color: white;
}

h3{
    text-align: center;
    margin-bottom: 40px;
    color: white;
    
}

ul {
    text-align: left;
}


li {
    margin-bottom: 40px;
}

.city-info{
    border: black solid 1px;
}

.searchcol {
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    border-left: black solid 1px;
    background-color: lightslategray;
    color: white;
}

.forecast {
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;

}

.city-info {
    background-color: lightslategray;
    color: white;
    
}

.card{  
    width: 8rem;
    margin: 20px;
    background-color: lightslategray;
    color: white;
}

#uvIndex {
    width: 8rem;
    border-radius: 5%;
    padding: 3px;
}

