body {
    font-size: 18px;
    font-family: serif;
}

h1 {
    text-align: center;
    background-color: royalblue;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}


h3{
    text-align: center;
    margin-bottom: 40px;
    color: white;
    
}

ul {
    text-align: left;
}


li {
    margin-bottom: 40px;
}

.city-info, .searchcol{
    border: black solid 1px;
  
}

.forecast {
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;

}

.city-info {
    background-color: lightslategray;
    color: white;
    
}

.card{  
    width: 8rem;
    margin: 20px;
    background-color: lightslategray;
    color: white;
}

#savedbtn {
    margin: 15px;
}

#uvIndex {
    width: 8rem;
    border-radius: 5%;
    padding: 3px;
}